@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --col-white: #fff;
  --col-black: #000000;
  --col-red: #ff0000;
  --col-wheat: #f5deb3;
  --col-light-green: #1e691e;
  --col-dark-green: #57b11b40;
  --color-blue: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #50c9c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #96deda,
    #50c9c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #96deda,
    #50c9c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Roboto', sans-serif;
}

.header {
  color: var(--col-black);
  text-align: center;
  margin: 50px 0;
}

.quiz-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--col-white);
  padding-bottom: 100px;
  margin-bottom: 200px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px 5px rgba(0, 0, 0, 0.2);
}

.input-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.input-questions label {
  color: var(--col-black);
  font-size: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.input-questions input {
  padding: 10px;
  outline: none;
  background-color: var(--col-white);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
  z-index: 100;
}

.input-questions input::-webkit-outer-spin-button,
.input-questions input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn-start,
.btn-play-again {
  font-size: 20px;
  padding: 20px 85px;
  background-color: var(--col-white);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: 0.5s ease;
  z-index: 100;
  outline: none;
}

.btn-start:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn-start:focus {
  outline: none;
}

.btn-play-again {
  display: none;
}

.btn-play-again:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.alert-message {
  color: var(--col-red);
  margin-top: 50px;
  visibility: hidden;
  text-transform: uppercase;
}

.question {
  background-color: var(--col-wheat);
  width: 80%;
  font-size: 30px;
  padding: 250px 50px;
  margin-bottom: 50px;
  text-align: center;
  display: none;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 85%,
    75% 85%,
    75% 100%,
    50% 85%,
    0% 85%
  );
}

.answer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  display: none;
}

ul {
  width: 60%;
}

li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  list-style-type: none;
  background-color: aqua;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s ease;
}

li:hover {
  transform: scale(1.1);
}

.correct-answer {
  background-color: #0000ff;
}

.incorrect-answer {
  background-color: red;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.next-questionBtn {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  background-color: #1e691e;
  box-shadow: 5px 1px 1px 0px #57b11b40;
  border-radius: 20px;
  transition: 0.5s ease;
  width: 30%;
  padding: 30px 30px;
  display: none;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}

.score {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--col-wheat);
  color: #000000;
  padding: 50px 20px;
  margin-bottom: 50px;
  font-size: 30px;
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@media (max-width: 1000px) {
  .quiz-container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .question {
    width: 90%;
    font-size: 20px;
    padding: 130px 50px;
  }

  .next-questionBtn {
    width: 70%;
  }
}
